<div class="center animation">
  <i class="fa fa-arrow-circle-up fa-3x" aria-hidden="true" class="" id="circleArrow"></i>
</div>
<div class="center">
  <%= link_to "Privacy Policy", "/privacy.html"%>
</div>
