<div class="container col-md-12">
	<h1 style="color:red;" class="center">Portfolio</h1>
	<div class="center"><h2 style="color:blue;">https://fabriziobertoglio.xyz</h2></div>
	<p class="justify">This website was my first app built for Learning <span>Ruby on Rails</span>in January 2017. the header is a video background which is one of my favorite features of HTML5. I started using Javascript for development in March 2015 through <a href="https://codecademy.com">Codecademy</a>. The website includes my portfolio and my blog. All my apps are deployed with Heroku, so thanks Heroku for the free hosting!
	</p>
</div>

<div class="container col-md-12">
	<h1 style="color:red;" class="center">Bartering Apps</h1>
	<div class="center"><h2 style="color:blue;">https://barteringapps.xyz</h2></div>
	<p class="justify">Bartering Apps was my first Web Application developed with Ruby on Rails. I am a Developer since 2012, but before I was working with SAP and ABAP Backend Development. I developed the app inspired from the story of Lukas Sommer who traveled the world exchanging his skills for Accomodation and Meals, so check out his webpage <a href="goodthingseverywhere.com/">goodthingseverywhere</a> and <a href="https://nomadlist.com/blog/bartering-skills">his story</a>. BarteringApps is a social networking app connected with Facebook, authentication is performed with <a href="https://github.com/plataformatec/devise">Devise GEM</a> and Facebook omniauth, the app is hosted on Heroku, pictures are uploaded to Amazon S3 with <a href="https://github.com/carrierwaveuploader/carrierwave">carrierwave</a>. The app includes tags that are used in the jobs/freelancers search criterias done with the <a href="https://github.com/mbleigh/acts-as-taggable-on">act-as-taggable-on GEM</a>.
	The app is available for Mobile, Tablet and Desktop and is built with Bootstrap. Users that log in will be able to add some info and search either for a Developer to host and build their apps or for a Location... 
	Queries can be performed based on different criterias and users can see some pictures of the locations where they will live.. 
	</p>
	<%= image_tag "barteringapps.png" %>
</div>

<div class="container col-md-12">
	<h1 style="color:red;" class="center">Portfolio</h1>
	<div class="center"><h2 style="color:blue;">https://fabriziobertoglio.xyz</h2></div>
	<p class="justify">This website was my first app built for Learning <span>Ruby on Rails</span>in January 2017. the header is a video background which is one of my favorite features of HTML5. I started using Javascript for development in March 2015 through <a href="https://codecademy.com">Codecademy</a>. The website includes my portfolio and my blog.
	</p>
</div>

<div class="container col-md-12">
	<h1 style="color:red;" class="center">Portfolio</h1>
	<div class="center"><h2 style="color:blue;">https://fabriziobertoglio.xyz</h2></div>
	<p class="justify">This website was my first app built for Learning <span>Ruby on Rails</span>in January 2017. the header is a video background which is one of my favorite features of HTML5. I started using Javascript for development in March 2015 through <a href="https://codecademy.com">Codecademy</a>. The website includes my portfolio and my blog.
	</p>
</div>