<div class="header header-video">

  <div id="video-container">   
      <%= video_tag "Islands.mp4", autoplay: true, loop: true, muted: true, poster: "Islands.png" %>
     
    <div class="centered">
      <h1> <span>Hello!</span> I am Fabrizio</h1>      
      <%= link_to "View my Work", "#", {class: "button animation portfolio"} %>
    </div>
  </div>
</div>

<!-- Video Protrait and Text --> 
<div class="container">
  <!--div class="main welcome"-->
    <div class="main welcome row">
      <div class="col-md-12">
        <h2 class="justify">
        I am a Web and Mobile Developer, I build Applications available for Desktop, Tablet and Mobile based on a powerful <span>Ruby on Rails</span> Architecture, as Database I use <span>postgresql</span> or <span>mysql2</span>, for the front end development <span>HTML5</span>, <span>CSS3</span> and <span>Javascript/Jquery</span>... In the past I did some <span>AngularJs</span> and <span>Ionic</span>, right now I am working of the following <a href='https://github.com/fabriziobertoglio1987/railsmentor'>github project</a> focusing on <strong>TDD</strong>, <span>Rspec</span>, <span>Factory Girl</span>, <span>Mocks and Stubs</span> and everything about <span>Rspec</span> testing in Rails 5...soon I'll post more info about my next project<br>
        </h2>
        <h2>
        My apps have been using Ruby on Rails 5 and Turbolinks 5, <span>Action Cable</span>, <span>Devise</span> for authentication, <span>Carrierwave</span>, <span>PrawnPdf</span>...
        </h2>
      </div>
    </div>
</div>