<div class="header header-video">

  <div id="video-container">   
      <%= video_tag "Islands.mp4", autoplay: true, loop: true, muted: true, poster: "Islands.png" %>
     
    <div class="centered">
      <h1> <span>Hello!</span> I am Fabrizio</h1>      
      <%= link_to "View my Work", "#", {id: "portfolio", class: "button"} %>
    </div>
  </div>
</div>

<!-- Video Protrait and Text --> 
<div class="container">
  <!--div class="main welcome"-->
    <div class="main welcome row">
      <div class="col-md-12">
        <h2 class="justify">
        I am a Web and Mobile Developer, I build Applications available for Desktop, Tablet and Mobile based on a powerful <span>Ruby on Rails</span> Architecture, as Database I use <span>postgresql</span> or <span>mysql2</span>, for the front end development <span>HTML5</span>, <span>CSS3</span> and <span>Javascript/Jquery</span>... In the past I did some <span>AngularJs</span> and <span>Ionic</span> so that will be my favorite Js framework for the future...<br>
        </h2>
      </div>
    </div>
</div>