<div class="header header-video">

  <div id="video-container">   
      <%= video_tag "Islands.mp4", autoplay: true, loop: true, muted: true, poster: "Islands.png" %>
     
    <div class="centered">
      <h1> <span>Hello!</span> I am Fabrizio</h1>      
      <%= link_to "View my Work", "#", {class: "button animation portfolio"} %>
    </div>
  </div>
</div>

<!-- Video Protrait and Text --> 
<div class="container">
  <!--div class="main welcome"-->
    <div class="main welcome row">
      <div class="col-md-12">
        <h2 class="justify">
					I am a Web and Mobile Developer, you can check my <a href='https://stackoverflow.com/users/7295772/fabrizio-bertoglio?tab=profile'>Stackoverflow Profile</a>.<br>I build Applications available for Desktop, Tablet and Mobile with <span>Ruby on Rails</span>. I use <span>Ruby on Rails</span>, <span>Rspec</span> (especially mocks and TDD), git, <span>postgresql</span>, HTML5, CSS3, <span>SASS</span>, <span>Javascript/Jquery</span> and <span>CoffeeScript</span>.
					I worked with <span>AngularJs</span>, I use <span>vim-rails</span> as editor, I have been solely using Ubuntu for 4 years and I love the environment and command line.
        </h2>
        <h2 class="justify">
					My apps have been using Ruby on Rails 5 and Turbolinks 5, <span>Action Cable</span>, <span>Devise</span> for authentication, <span>Carrierwave</span>, I built <a href='https://github.com/fabriziobertoglio1987/sprachspiel-android'>Android-Native apps</a> to function as a Native-Wrapper for mobile devices based on the <a href='https://github.com/turbolinks/turbolinks-android'>Turbolinks-Android</a> library used for <a href='https://basecamp.com/'>Basecamp</a>. 
					I have a basic understanding of Android, a very good knowledge of <span>Twitter-Bootstrap</span> and I worked extensively on Backend Json-API. 
					If you are an employer and want to review my certificates, work experience and employees references you can review my <a href='https://de.linkedin.com/in/fabriziobertoglio/en'>LinkedIn Profile</a> or my updated <a href='https://stackoverflow.com/story/fabriziobertoglio'>Stackoverflow Story</a>
        </h2>
      </div>
    </div>
</div>
