<%= render "navigation" %>
<div class="container fixed-navigation">
	<h1 style="color:red;" class="center">First Post</h1>
	<p>This is my first post in my blog. I just arrived 10 days ago. I decided to finish my personal Webpage after ending my last (3rd) App Sprachspiel.. soon I'll include a nice picture of Bali Surf/Beach..
	</p>		   
	<h1 style="color:green;" class="center">Things in Bali</h1>
	<p>Right now I'm living in Bali Kuta, I'm staying hear till the 11th of October. I work every day on my github projects in LinupHub. I surf in Kuta or Balangan once a day. Good life, but I want to go back to Europe
	</p>
	<%= image_tag 'kutasurfing.jpg', class: 'center-image' %>		   				   	
	<h1 style="color:blue;" class="center">New Github Project</h1>
	<p>Right now I'm focusing on Testing with Rspec so for this reason I have done a fork and started <a href='https://github.com/fabriziobertoglio1987/railsmentor'>this project</a>, with which I will extensively use <strong>Rspec</strong></p>
	</p>
	<h1 style="color:black;" class="center">Going back home</h1>
	<p>I am going <strong>back home</strong>, I really need to focus on <span>Rspec</span> and <span>Ruby</span>...soon I'll start a new project..</p>
	</p>
	<h1 style="color:purple;" class="center">Surf App</h1>
	<p>I am in Kuala Lumpur, I reached a great productivity hear by not surfing, hanging out in coffee shops and drinking a lot of coffee, I need to build a new app and as I don't have any idea, I am thinking of some app where surfers can find based on the location/spot pictures of the surfcondition/waves at different times/tides... nobody is ever going to use the app, but I want to find out how fast I can build something like this. I'll build the authentication with Devise/Facebook and the app with a simple responsive design for IOS/Android. The app initially will be available through browser and I may launch it to the store if later successfull... I need 2 main things, the authentication, the upload feature done with Carrierwave and Amazon Web Service, a wall where the user will be able to select the surfspots or countries pictures he wants to see. Probably geolocalization gem is the way to go to have the user easily tag his pictures with the right location... maybe using a custom layout that is already built for IOS/Android may save me tons of time...
	</p>	
	<h2>Some Reflections about my new app</h2>
	<p>I am going to start recording my thoughts in my Blog, I don't want to search and pay for a good mobile layout...ending up having to fix other developers code.. I can write a nice front end interface for the app, the problem is that adapting to all the devices will take me long time, so the simpler the app the less time will it take to build it..
	Also I need to write extensive test with Rspec for this app, it will be hard getting this done in a couple of days, I believe we are again talking of months</p>
	<p>Maybe I should target <strong>only one device at first</strong>, what is the most popular mobile phone nowadays? Samsung S3?</p>
	<h2>App Creation</h2>
	<p>let's start keep here all my notes...so I start quickly building the app with <strong>POSTGRESQL</strong> as I want to deploy it on heroku. My first issue after configuring all the gems I'll use in the project is, what is my first controller/model I should build.</p>
	<h2>What I've done</h2>
	<p>So in this two days in KL I've done the authentication with Facebook and Google-omniauth...today I'm leaving and going back to bali, my return home is the 11th of October. I need to fix an error with the Facebook-omniauth authentication then I'll start configuring the Carrierwave upload. The app need to be available on Mobile, right now looks really bad the front end so I really need to fix this...

	I'm listening to <strong>rap</strong> while I code the app... I've been listening Eminem and now Tupac, I find out this really funny video from tupac where he makes jokes on Biggie Small..<a href='https://www.youtube.com/watch?v=j0uQBwFMfBk'>Tupac Gangsta Party</a></p>
	
	<h1 style="color:red;" class="center">Check the surf</h1>
	<p>Lately I launched several projects quickly and when I start working I never remember what is my last project. Today I'm going to get my flight back to Bali, bye KL, really happy to go back.
	Was good experience here working from cafes and bars, taking my laptop everywhere and having the chance of working everywhere I wanted. I got stuck badly with google-omniauth, kind of hard to understand what is wrong in my production server, without seeing errors or logs. I got out of this yesterday and I was able to implement quickly also facebook, but facebook has some problems so I need to figure this out now.</p>
	<h2>Fixing Facebook-omniauth</h2>
	<p>So stupid syntax error I wrote in my callback route, my route was 'auth/facebook/callback/Remove' instead of 'auth/facebook/callback' somehow I must have added that keyword for mistake.. Now I'm going to configure carrierwave, test devise users controller and start building the front end of the app</p>	
</div>