<%= render "navbar" %>
<section id="video-container">   
  <%= video_tag ["lighthouse.mp4"], autoplay: true, loop: true, muted: true, poster: "lighthouse.png" %>
  <div class="centered">
    <h3> <span>Contact me at</span> fabrizio.developer@gmail.com</h3>      
    <%= link_to "Back to my Portfolio", pages_path, {class: "button animation portfolio"} %>
  </div>
</section>
