<%= render "navigation" %>
<div class="container fixed-navigation">
	<h1 style="color:red;" class="center">Contact me at</h1>
	<p style="text-align: center;">email: fabrizio.developer@gmail.com</p>
</div>