<div class="header portfolio">
	<h1 class="portfolioHeader">This is my Portfolio</h1>
</div>

<div class="main">
	<!-- The barebones HTML required for Unslider -->
	<div class="my-slider">
	<ul>
		<li>My slide</li>
		<li>Another slide</li>
		<li>My last slide</li>
	</ul>
	</div>

</div>