<!-- VIDEO HEADER -->
<!-- 1 Convert the video in compatible formats -->

<%= render(:partial => "navigation") %>

<div class="header header-video">

  <div id="video-container">   
      <%= video_tag "Islands.mp4", autoplay: true, loop: true, muted: true, poster: "Islands.png" %>
     
    <div class="centered">
      <h1> Bartering Apps </h1>      
      <%= link_to "View my Work", { action: "portfolio" }, class: "button" %>
    </div>
  </div>
</div>

<!-- Video Protrait and Text -->
<div class="main welcome">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2><span>Hello!</span>I am a Web and Mobile Developer, I build Applications available for Desktop, Tablet and Mobile based on a powerful <span>Ruby on Rails</span> Architecture</br>
        </h2>
      </div>
    </div>
  </div>
</div>