<div class="container">
	<h1 style="color:red;" class="center">Bartering Apps</h1>
	<div class="center">
		<a href="https://github.com/fabriziobertoglio1987/SocialNetwork", class="header-link"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
		<a href="https://barteringapps.herokuapp.com", class="header-link", style="color:blue;"><i class="fa fa-link fa-2x" aria-hidden="true"></i></a>
	</div>
	<p>Social Network for advertising Apartments and Jobs</p>
	<div class="container image">
		<a href="https://barteringapps.herokuapp.com"><%= image_tag "barteringapps.png", class: "portfolio image" %></a>
	</div>
</div>
