<div class="container">
	<h1 style="color:red;" class="center">Bartering Apps</h1>
	<div class="center">
		<a href="https://github.com/fabriziobertoglio1987/SocialNetwork", class="header-link"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
		<a href="https://barteringapps.herokuapp.com", class="header-link", style="color:blue;"><i class="fa fa-link fa-2x hidden-sm hidden-md hidden-lg" aria-hidden="true"></i><h2 class="hidden-xs">https://barteringapps.herokuapp.com/</h2></a>
	</div>
	<p>Bartering Apps was my first Web Application developed with Ruby on Rails. I am a Developer since 2012, but before I was working with SAP and ABAP Backend Development. I developed the app inspired from the story of Lukas Sommer who traveled the world exchanging his skills for Accomodation and Meals, so check out his webpage <a href="goodthingseverywhere.com/">goodthingseverywhere</a> and <a href="https://nomadlist.com/blog/bartering-skills">his story</a>. BarteringApps is a social networking app connected with Facebook, authentication is performed with <a href="https://github.com/plataformatec/devise">Devise GEM</a> and Facebook omniauth, the app is hosted on Heroku, pictures are uploaded to Amazon S3 with <a href="https://github.com/carrierwaveuploader/carrierwave">carrierwave</a>. The app includes tags that are used in the jobs/freelancers search criterias done with the <a href="https://github.com/mbleigh/acts-as-taggable-on">act-as-taggable-on GEM</a>.
	The app is available for Mobile, Tablet and Desktop and it is built with Bootstrap. Users that log in will be able to add some info and search either for a Developer to host and build their apps or for a Location... 
	Queries can be performed based on different criterias and users can see some pictures of the locations where they will live..</p>
	<p>
	BarteringApps provides also startups some basic functionalities for managing their projects, so they can track their projects, task, ads, employees with the SASS Application, give and receive feedback...
	</p>

	<p>DB initially mysql2, then I switched to postgresql, deployment to Heroku</p>
	<p>Available for Desktop, Mobile and Tablet, possible launch to the App Stores in the future</p>

	<div class="container image">
		<a href="https://barteringapps.herokuapp.com"><%= image_tag "barteringapps.png", class: "portfolio image" %></a>
	</div>
</div>
