<div class="container">
	<h1 style="color:red;" class="center">GrowStartups</h1>
	<div class="center">
		<a href="https://github.com/fabriziobertoglio1987/freeAdsWorldwide", class="header-link"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
		<a href="https://growstartups.herokuapp.com", class="header-link", style="color:blue;"><i class="fa fa-link fa-2x hidden-sm hidden-md hidden-lg" aria-hidden="true"></i><h2 class="hidden-xs">https://growstartups.herokuapp.com</h2></a>
	</div>	
	<div class="center"><h2 style="color:blue;"></h2></div>
	<p>Startups can use the app to distribute fliers in different cities around the world (for free through mutual aggrement). The app was built with Ruby on Rails 5.1 and Turbolinks 5, for a very fast page reload between 50-100ms. Developed responsively with Bootstrap and for the publishing in the Mobile App stores (<a href="https://github.com/turbolinks/turbolinks-ios">Turbolinks IOS</a> and <a href="https://github.com/turbolinks/turbolinks-android">Turbolinks Android</a>), the app allows users to print other members fliers with the <a href="https://github.com/prawnpdf/prawn">Prawn pdf GEM</a>. Fliers will include a shortened URL and a QR Code, automatically included with Prawn PDF, that allows tracking of views and statistics. 
	<p>Partial, but not complete testing of controllers and models with Rspec and Capybara, upload of pictures with Carrierwave, management of QR code with <a href="https://github.com/whomwah/rqrcode">RQRcode</a>, forms with the <a href="https://github.com/plataformatec/simple_form">Simple Form gem</a>, Jquery-UI animations...
	</p>
	<p>Available for Desktop, Mobile and Tablet, possible launch to the App Stores in the future</p>
	<div class="container image">
		<a href="https://growstartups.herokuapp.com"><%= image_tag "growstartups.png", class: "portfolio image" %></a>
	</div>
</div>
