<div class="container">
	<h1 style="color:red;" class="center">LanguageGame</h1>
	<div class="center">
		<a href="https://github.com/fabriziobertoglio1987/sprachspiel", class="header-link"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
		<a href="https://languagegame.xyz/", class="header-link", style="color:blue;"><i class="fa fa-link fa-2x hidden-sm hidden-md hidden-lg" aria-hidden="true"></i><h2 class="hidden-xs">https://languagegame.xyz/</h2></a>
	</div>	
	<p>Built with Ruby on Rails 5.1, Turbolinks 5 and <a href="https://github.com/rails/rails/tree/master/actioncable">ActionCable</a>, the App allows users to practice their German Speaking skills by immerging themself in a game set in the Middle Ages, where users will have a role between Farmers, Blacksmiths, Soldiers or Kings.. Endless possibilities of extension and fun, for making it an addicting game like <a href="https://en.wikipedia.org/wiki/Travian">Travian</a> or many other, but with the <strong>educative</strong> advantage!</p>
	<p>Many new functionalities will come in the future, right now players can join as Farmers or Blacksmith, trade resources, buy/build products like Bread, Weapons(swords, shields), Tools(hammers, workings benches, knifes, etc.. ), use them or sell them to others.. All this tools will become more useful in the future!</p>
	<p>The game includes an ingame chat, which every user can use to negotiate, trade or agree on alliances in every area of the game. The chat was built using <a href="https://blog.heroku.com/real_time_rails_implementing_websockets_in_rails_5_with_action_cable">ActionCable</a>, the rest are the usual gems so Devise, Bootstrap, Turbolinks 5 (the Apps looks very nice for mobile), postgresql, redis, simple_form, many animations with Jquery-ui to add some screens to the mobile devices, testing using real smartphone in development as a Chrome Remote device (Huawei LUA-U22) and responsive for all Devise Iphone, Nexus, Android ...
	</p>
	<p>Available for Desktop, Mobile and Tablet, possible launch to the App Stores in the future</p>
	<div class="container image">
		<a href="https://languagegame.xyz"><%= image_tag "sprachspiel.png", class: "portfolio image" %></a>
	</div>	
</div>
