<div class="container" id="surfcheck">
	<h1 style="color:red;" class="center">SurfCheck</h1>
    <div class="center app-store-icons">
      <a href='https://play.google.com/store/apps/details?id=com.surfapp&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' class="store android"/></a>
      <a href='https://apps.apple.com/us/app/surfcheck/id1477072496?ls=1'><img src="https://portfoliofabrizio.s3.eu-central-1.amazonaws.com/download_on_itunes.svg" class="ios store"></a>
    </div>
	<div class="center">
		<a href="https://github.com/fabriziobertoglio1987/surf-rails", class=""><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
		<a href="https://github.com/fabriziobertoglio1987/surf-react-native", class=""><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
		<a href="https://surfvideos.xyz/", class="header-link", style="color:blue;"><i class="fa fa-link fa-2x" aria-hidden="true"></i></a>
	</div>	
    <p class="description">Surf Forecasting Mobile <a href="https://github.com/fabriziobertoglio1987/surfnative">Iphone</a>, <a href="https://github.com/fabriziobertoglio1987/surfnative">Android</a> and <a href="https://surfvideos.xyz">WebApp</a> built with <a href="https://github.com/fabriziobertoglio1987/surf-rails"><b>Ruby on Rails</b></a> and <a href="https://github.com/fabriziobertoglio1987/surf-react-native"><b>React-Native</b></a>.</p>
    <p class="description">The <a href="https://documenter.getpostman.com/view/6379421/SVfH1CeA">api documentation</a> is published on <b>postman</b>. Open Beta for Iphone and Android starting end of <b>August 2019</b>.</p>
    <h4>Tech Stack</h4>
    <div class="tech-icons">
      <i class="devicon-rails-plain-wordmark colored "></i>
      <i class="devicon-react-original-wordmark colored "></i>
      <i class="devicon-javascript-plain colored "></i>
      <i class="devicon-android-plain-wordmark colored "></i>
      <i class="devicon-amazonwebservices-plain-wordmark colored "></i>
      <i class="devicon-apple-original colored "></i>
      <i class="devicon-postgresql-plain-wordmark colored "></i>
      <i class="devicon-nginx-original colored "></i>
      <i class="devicon-babel-plain colored "></i>
      <i class="devicon-bootstrap-plain colored "></i>
      <i class="devicon-git-plain-wordmark colored simple"></i>
      <i class="devicon-google-plain-wordmark colored " style="color:#1a1aff;text-shadow:none;"></i>
      <i class="devicon-css3-plain-wordmark colored " style="color:red;"></i>
      <i class="devicon-nodejs-plain colored "></i>
      <i class="devicon-redis-plain-wordmark colored "></i>
      <i class="devicon-sass-original simple"></i>
      <i class="devicon-vim-plain simple"></i>
      <i class="devicon-ubuntu-plain-wordmark colored simple"></i>
      <i class="devicon-webpack-plain colored simple"></i>
    </div>
	<div class="container image">
      <a href="https://surfvideos.xyz">
        <video mute type="video/mp4" loop autoplay poster="https://portfoliofabrizio.s3.eu-central-1.amazonaws.com/videos/surfcheck-poster.png" class="portoflio gif-image">
          <source src="https://portfoliofabrizio.s3.eu-central-1.amazonaws.com/videos/surfcheck-min.mp4" type="video/mp4">
          <source src="https://portfoliofabrizio.s3.eu-central-1.amazonaws.com/videos/surfcheck-min.webm" type="video/webm">
          <source src="https://portfoliofabrizio.s3.eu-central-1.amazonaws.com/videos/surfcheck-min.ogv" type="video/ogv" />
        </video>
      </a>
	</div>	
</div>
