<div class="container">
	<h1 style="color:red;" class="center">SurfCheck</h1>
	<div class="center">
        <a href="", class="header-link"><%= image_tag "google-play.png", class:"header-link" %></a>
		<a href="https://github.com/fabriziobertoglio1987/surfbackend", class=""><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
		<a href="https://surfcheck.xyz/", class="header-link", style="color:blue;"><i class="fa fa-link fa-2x hidden-sm hidden-md hidden-lg" aria-hidden="true"></i><h2 class="hidden-xs">https://surfcheck.xyz/</h2></a>
        <a href="", class="header-link"><%= image_tag "apple.png", class:"header-link" %></a>
	</div>	
    <p>Surf Forecasting Mobile <a href="">Iphone</a>, <a href="">Android</a> and <a href="https://surfcheck.xyz">WebApp</a> built with <a href="https://github.com/fabriziobertoglio1987/surfbackend"><b>Ruby on Rails</b></a> and <a href="https://github.com/fabriziobertoglio1987/surfnative"><b>React-Native</b></a>.</p>
    <h4>Tech Stack</h4>
	<div class="container image">
		<a href="https://surfcheck.xyz"><%#= image_tag "surfcheck.png", class: "portfolio image" %></a>
	</div>	
</div>
