.navbar { 
  // Brand and Navbar Button positioning
  height: 70px;
  .container-fluid, .navbar-header, .navbar-collapse ul { height: 100% }
  .navbar-brand { img { height: 100%; filter: invert(100%); } }
  button { 
    height: 50px;
    border: none;
    padding: 0 0;

    img { height: 50px; }
  }

  a { color: white; height: 100%; padding: 8px 15px;}
  ul li a { color: white; }


}

.navbar-toggle { 
  img { filter: invert(100%); } 
  &.collapsed img { filter: invert(0%); }
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background-color:initial; }

// Breakpoint for mobile navbar
@media (max-width: 760px) { 
  .navbar-default .navbar-collapse, .navbar-default .navbar-form { border-top: 5px solid white; }
}

@media (min-width: 760px) {
  // Flexbox for li links on desktop version
  // .navbar-collapse { height: 100% !important; } 
  .collapse.navbar-collapse ul { height: 70px; }
  .navbar-collapse ul { 
    display: flex; justify-content: flex-end; 
    align-items: center; width: 80%;
  }
  .navbar-nav > li { width: 16%; display: flex; justify-content: center; border: 1px solid white;} 
}
//.portfolio .navbar {
//  overflow: hidden;
//}
//
//.portfolio .centered {
//  margin-top: -70px;
//  width: 100%;
//}

//.container.image {
//  text-align: center;
//}

//.portfolio.image {
//  height: 600px;
//}

//.header-link {
//  display: inline-block;
//  margin: 0px 5px;
//}

/* Navigation Bar */

//.navbar-nav {
//  float: right;
//  background: transparent; 
//}

.navbar {
  background: transparent;
  border: transparent; 
  z-index: +1;
}

//.navbar-default .navbar-nav > li > a {
//  color: #FCFFFD;
//}
//
//.navbar-default .navbar-brand {
//  color: #FCFFFD;
//}
//
//.navbar-brand {
//  font-size: 18px;
//}
//
//.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-brand:hover {
//  background-color: #FF0000;
//  color: #FCFFFD;
//}

