.navbar { 
  // Brand and Navbar Button positioning
  height: 70px;
  .container-fluid, .navbar-header, .navbar-collapse ul { height: 100% }
  .navbar-brand { img { height: 100%; filter: invert(100%); } }
  button { 
    height: 50px;
    border: none;
    padding: 0 0;

    img { height: 50px; }
  }

  a { color: white; height: 100%; padding: 8px 15px;}
  ul li a { color: white; }

  background: transparent;
  border: transparent; 
  z-index: +1;
}

.navbar-toggle { 
  img { filter: invert(100%); } 
  &.collapsed img { filter: invert(0%); }
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background-color:initial; }

// Breakpoint for mobile navbar
@media (max-width: 760px) { 
  .navbar-default .navbar-collapse, .navbar-default .navbar-form { border-top: 5px solid white; }
}

@media (min-width: 760px) {
  // Flexbox for li links on desktop version
  .collapse.navbar-collapse ul { height: 70px; }
  .navbar-collapse ul { 
    display: flex; justify-content: flex-end; 
    align-items: center; width: 80%;
  }
  .navbar-nav > li { width: 16%; display: flex; justify-content: center; border: 4px solid white; margin: 0 1%;} 
}

@media (max-width: 360px) {
  .navbar-brand { display: none; }
}
