section.portfolio { position: absolute; top: 100%; width: 100%; text-align: center; }
.header-link { vertical-align: top }
.description { text-align: center; }
#container-mentor img { width: 100% }
.container.image { padding: 0 0; margin: 0 0; width: 100% }
.image, .gif-image { width: 316px; }
.tech-icons { 
  font-size: 60px; 
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  .simple { text-shadow: none }
}
.presentation-video { width: 100vw; left:0; top:initial; }

#surfcheck .container.image { 
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-content: center;
  a { 
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
  }
}

@media (max-width: 600px) { #container-mentor img { display: none; }; .portfolio.image { width: 100%; } } 
