/* Styles */

h1 span, p span {
  color: red;
}

.container p {
  text-align: justify;
  text-justify: inter-word;  
}

.header.header-video h1 {
  text-align: center;
}

/* Body */

body {
  height: 100vh;
  font-size: 18px;
}

@import 'partials/welcome';
@import 'partials/navbar';
@import 'partials/portfolio';
