/* Styles */

h1 span, p span {
  color: red;
}

.container p {
  text-align: justify;
  text-justify: inter-word;  
}

.header.header-video h1 {
  text-align: center;
}

/* Body */

body {
  height: 100vh;
  font-size: 18px;
}


/* Header */

/* Navigation About */

//.about .navbar {
//}

/* Video Header */

// .header {
//   width:  100vh;
//   height: 650px;
//   border-left: none;
//   border-right: none;
//   margin-top: 0px; /*correction made*/
// }
// 
// 
// .header-video {
//   position: relative;
//   padding: 20px;
//   height: 100vh;
//   margin-top: -70px;
//   margin-bottom: -35px;
// }
/* Header Welcome */


//.header .row {
//  height: 100%;
//}

@import 'partials/welcome';
@import 'partials/navbar';

/* Header Portfolio */
// .header.portfolio {
//   background-image: url("https://s3.eu-central-1.amazonaws.com/portfoliofabrizio/wood.jpg");
//   background-size: cover;
//   text-align: center;
// }


/* Header About */

// .header.about {
//   background-image: url("https://s3.eu-central-1.amazonaws.com/portfoliofabrizio/me.JPG");
//   background-size: cover;
//   background-position: center 61%;
//   background-repeat: no-repeat;
//   height: 900px;
// }



/* Supporting */

// .supporting {
//   background-image: url('https://s3.eu-central-1.amazonaws.com/portfoliofabrizio/murales.jpg');
//   background-size: cover;
//   background-position: center;
//   height: 600px;
//   margin: 200px 100px;  
// }
// 
// .supporting .container {
// 
// }
// 
// .supporting .container, .supporting .container .row, .supporting .container .col-md-4 {
//   height: 100%;
// }
// 
// .supporting img {
//   width: 100%;
//   padding: 0 15px;
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);  
// }

/* Jumbotron */

//.jumbotron {
//  /*background-image: url('');*/
//  background-size: cover;
//  height: 800px;
//}
