<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= csrf_meta_tags %>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" charset="utf-8">
  <meta name="description" content="My name is Fabrizio Bertoglio, I am a full-stack web developer. I work with Ruby on Rails and React Native. Check out my portfolio projects" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,500,700" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application'%>
</head>

<body>
  <%= yield %>
</body>



</html>
